{% extends 'base.html' %}

{% block content %}
<h2>View Users</h2>

<!--serach-->
<form method="get" action="{{ url_for('view_users') }}">
  <input type="text" name="search" placeholder="Search by username or email" value="{{ search_query }}">
  <button type="submit">Search</button>
</form>

<hr>

<!-- user list-->
<table>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Actions</th>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.id }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.fullname }}</td>
    <td>{{ user.email }}</td>
    <td>{% if user.is_admin %} Admin {% else %} User {% endif %}</td>
    <td>
      <a href="{{ url_for('delete_user', user_id=user.id) }}" onclick="return confirm('Are you sure?')">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
